*{
    border: none;
    font-family: optima;
    
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
.navbar{
    
    background: black;
    max-width: 100%;
    justify-content: center;
    position: sticky;
}

body{
    background-color:#05735c ; 

}

.nav-link{
    color: white;
    font-size: 15px;
    font-family: Helvetica;
    font-weight: bold;
    padding-top: 25px;
    transition: 1s;
    
}
.nav-item{
    list-style: none;
}
.nav-link:hover{
    color: white;
    text-decoration: underline;
}

.logo{
    position: absolute;
    top: 0px;
    left: 125px;
}

.outer{
    display: flex;
    justify-content: space-between;
    height: 500px;
}
#genreFilter{
    padding: 15px;
    width: 145px;
}
#genreLable{
    font-size: 18px;
}
.headline{
    flex: 1;
    padding-left: 50px;
    padding-top: 40px;
    max-width: 70%;
    align-items: center;
}

.headline h4{
    position: absolute;
    top: 190px;
    padding-left: 5%;
    color: white;
    font-size: 20px;
    padding-bottom: 40px;
    font-family: optima;
}

.headline h1{
    position: absolute;
    width: 750px;
    top: 265px;
    color: white;
    padding-top: 5px;
    font-family: optima;
    font-weight: bolder;
    font-size: 65px;
    padding-bottom: 40px;
    padding-left: 4%;
}

.Concertimage{
    
    background: #126351;
    position: absolute;
    top: 205px;
    left: 950px;
}

.Concertimage img {
    flex: 0.5;
    text-align: right;
    color: transparent;
    border-style: solid;
    margin-top: 45px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-bottom: 35px;
    
}

.filter-section{
    padding-left: 0px;
    padding-top: 10px;
    
}

#card{
    position: absolute;
    top: 820px;
    height: 100%;
    background: black;
    width: 100%;
    border-radius: 5% 5% 0 0;
}
.artist-card{
    padding-left: 50px;
    padding-top: 45px;
    display: inline-flex;
    gap: 100px;
    padding-bottom: 20px;
    width: 100%;
    border-radius: 5% 5% 0 0;
}
.aimage{
    padding-left: 80px;
    
}

img.artist-image{
    border-radius: 25px 25px 25px 25px;
}


#description{
    padding-right: 5px;
    padding-top: 90px;
}

#description h3{
    color: white;
    text-align: center;
    font-family: optima;
    font-size: 55px;
    font-weight: bold;
}    

#description p{
    color: white;
    text-align: justify;
    font-family: helvetica;
    font-size: 35px;
    text-wrap: balance;

}

.filter-section{
    position: absolute;
    top: 15px;
    left: 1400px;
}
.filter-section h3{
    color: white;
    font-family: optima;
    font-weight: bold;
}


.filter-section label{
    color: white;
    font-weight: bold;
}

.form{
    position: absolute;
    left:-1300px;
    top: 745px;
    padding: 8px;
}
.form #search{
    padding: 14px;
}
.form button, input{
    border-radius: 7px;
    font-weight: bold;
    padding: 10px;
    
}
.form button{
    width: 100px;
    font-size: 14px;
    padding: 14px;
}

.filter-section select{
    border-radius: 7px;
    font-weight: bold;
}

.purchase-ticket{
    position: absolute;
    margin-top: 295px;
    border-radius: 15px;
    padding: 5px;
    font-family: helvetica;
    font-weight: bold;
}

.recent-concerts{
    position: absolute;
    padding-top: 20px;

}

.comment{
    position: absolute;
    left: 700px;
    top: 960px;
}
.comment #name{
    color:whitesmoke;
    font-size: 25px;
    font-weight: bold;
    padding: 15px
}
.comment h4{
    color: white;
    font-family: optima;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 18px;
}

.comment #comment{
    position: absolute;
    top: 265px;
    left: 0px;
    border-radius: 15px;
    padding: 35px;
    width: 500px;
    font-size: 18px;
}

.comment .submit{
    position: absolute;
    top: 545px;
    left: 190px;
    border-radius: 8px;
    padding: 13px;
    width: 140px;
    font-size: 19px;
    font-weight: bold;
    
}
.commentLog{
    position: absolute;
    top: 50px;
    left: 700px;
    border:transparent;
    width: 400px;
    height: 465px;
    overflow-y: scroll;
    border-radius: 5px;
}
.commentLog h2{
    text-align: center;
    color: white;
}
.artist-name h2{
    position: absolute;
    left: 1100px;
    top: 40px;
    color: white;
    font-size: 45px;
    font-weight: bold;
    font-family: Helvetica;
    background: linear-gradient(90deg, rgb(119, 10, 65), rgb(28, 31, 168));
    border-radius: 7px;
}

.partner{
    position: absolute;
    left:  1000px;
    top: 500px;
    width: 620px;
}

.partner h1{
    color: white;
    font-size: 55px;
    font-weight: bold;
}

.partner p, li{
    color: white;
    font-size: 19px;
}

.partner p,li{
    color: white;
    list-style-image: url('images/Pasted image.png') ;
}

.footer{
    position: absolute;
    bottom: -1600px;
    left: 43%;
    display: inline-flex;
    color: white;
    justify-content: center;
    
}

.footer li{
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    padding-left: 20px;
    transition: ease-in-out 0.5s;
}
.footer li box-icon:hover{
    color: black;
}
.addArtist{
    
    position: absolute;
    top: 1000px;
    padding-left: 85px;
}
.addArtist h2{
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.addArtist .genre{
    position: absolute;
    
}
.myrecentconcert{
    width: 250px;
    padding-left: 95px;
    padding-bottom: 0px;
}
.myrecentconcert label{
    color:white;
    font-size: 19px;
}
.myrecentconcert input{
    padding: 5px;
}
#submitbutton{
    padding: 20px;
}

.submitbutton{
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 19px;
    width: 140px;
}
.commentHName{
    position: absolute;
    top: 155px;
}
.artistNameComment{
    position: absolute;
    top: 165px;
    left: 175px;
    padding: 10px;
    font-size: 18px;
}

.artistSample{
    position: absolute;
    top: 755px;
    left: -900px;
    color: white;
    font-size:25px;
}
